# Flask configuration
FLASK_SECRET_KEY=change-this-secret

# Third-party services keys
GOOGLE_MAPS_KEY=
OPENWEATHER_KEY=
TOMTOM_KEY=

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mail configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=your-email@gmail.com
EMAIL_PASSWORD=your-password

# Twilio SMS configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
